.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
}

.modal-body>iframe {
  height: 35em;
  min-height: 100%;
}

.modal-open {
  overflow: hidden;
}

#helpMeModal.modal {
  z-index: 512000;
}
