.fixedlocation a {
  text-decoration: none;
  padding-right: 1em;
  color: #337ab7;
}

.fixedlocation span {
  text-decoration: none;
  margin: 0;
  line-height: 0;
  font-size: 1.5em;
  color: #337ab7;
  padding-right: 1em;
}

.fa>.label {
  display: none;
}

.fixedlocation {
  z-index: 512;
  position: fixed;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 100%;
  left: 0em;
  padding: 1em;
  text-align: center;
  opacity: 0.8;
}

#contactme {
  top: 0em;
}

#cookiewarning {
  bottom: 0em;
}

#rightside {
  left: 45em;
  padding-right: 0em;
  /* Safari */
  -webkit-transform: rotate(90deg);
  /* Firefox */
  -moz-transform: rotate(90deg);
  /* IE */
  -ms-transform: rotate(90deg);
  /* Opera */
  -o-transform: rotate(90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.social-links {
  display: inline-block;
}

.social-links>a {
  padding-right: 1em;
  text-decoration: none;
  display: inline-block;
}

.social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  /*margin-right: 30px;*/
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  text-decoration: none;
}

.social-links a:hover {
  background-color: rgba(30, 30, 30, 1);
  text-decoration: none;
}
