/* https://codepo8.github.io/css-fork-on-github-ribbon/index.html */

#forkongit a {
  background: #000;
  color: #fff;
  text-decoration: none;
  font-family: arial, sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 5px 40px;
  font-size: 1rem;
  line-height: 2rem;
  position: relative;
  transition: 0.5s;
}

#forkongit a:hover {
  background: #c11;
  color: #fff;
}

#forkongit a::before, #forkongit a::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 1px;
  background: #fff;
}

#forkongit a::after {
  bottom: 1px;
  top: auto;
}

@media screen and (min-width: 80em) {
  #forkongit {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 200px;
    overflow: hidden;
    height: 200px;
    z-index: 9999;
  }
  #forkongit a {
    width: 200px;
    position: absolute;
    top: 60px;
    left: -60px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  }
}


/* https://codepo8.github.io/css-fork-on-github-ribbon/index.html */
