/* http://debarghyadas.com/ */

.fb-follow {
  float: right;
}

.twitter-follow {
  display: inline-block;
  /*margin-right: -10px;*/
}

.fb-like {
  display: inline-block;
}

.follow {
  opacity: .8;
  display: block;
  position: absolute;
  right: 0;
  top: 10px;
  width: 350px;
}
