/* http://debarghyadas.com/ */

.icon {
  opacity: .4;
  color: #000;
}

.icon:hover {
  opacity: .8;
  color: #000;
}

.tooltip-inner {
  background: 0;
  color: #000;
  opacity: .6;
}

li {
  list-style: none
}
