extends ../layout.pug

block MetaHead
  base(href='/')/

block content
  #main.container
    div(style='height:50px;')
    div(style='max-width: 800px; margin: 2em auto;')
      h1.FourZeroFour
        span.green 404
        span.blue Page Not Found

      //- p One of the following things could have happened:
      //- ul.FourZeroFour
        li The URL is wrong.
        li
          | The page you're looking for never existed, doesn't exist or is having an existential crisis.
        li
          | If you're looking for an offer: it might have been deleted, archived or might be under moderation.
        li Smeagol took it away. Gollum! Gollum!

      p.FourZeroFour
        a(href='/') ← Go back to /
      blockquote.FourZeroFour
        strong "But I don't want to go among 404 pages,"
        |  Alice remarked.
        br/
        strong "Oh, you can't help that,"
        |  said the Cat:
        strong "we're all 404 here. I'm a 404. You're a 404."
        br/
        strong "How do you know I'm a 404?"
        |  said Alice.
        br/
        strong "You must be,"
        |  said the Cat,
        strong "or you wouldn't have come here."
