mixin meta(name,content)
  meta(name=name, content=content)/

mixin metap(property,content)
  meta(property=property, content=content)/

mixin TimeCountUp(years, days, hours, minutes, seconds)
  .col-sm-6.col-xs-6.col-md-2
    .time-box
      .time-box-inner.dash.years_dash.animated
        span#yrsl.time-number
          span.digit= years
          span.digit= years
        span.time-name Years
  .col-sm-6.col-xs-6.col-md-2
    .time-box
      .time-box-inner.dash.days_dash.animated
        span#daysl.time-number
          span.digit= days
          span.digit= days
          span.digit= days
        span.time-name Days
  .hidden-sm.col-md-2.hidden-xs
    .time-box
      .time-box-inner.dash.months_dash.animated
        span#monthsl.time-number
          span.digit  
          span.digit :
          span.digit  
  .col-sm-6.col-xs-6.col-md-2
    .time-box
      .time-box-inner.dash.hours_dash.animated
        span#hrsl.time-number
          span.digit= hours
          span.digit= hours
        span.time-name Hours
  .col-sm-6.col-xs-6.col-md-2
    .time-box
      .time-box-inner.dash.minutes_dash.animated
        span#minl.time-number
          span.digit= minutes
          span.digit= minutes
        span.time-name Minutes
  .hidden-sm.hidden-xs.col-md-2
    .time-box
      .time-box-inner.dash.seconds_dash.animated
        span#secl.time-number
          span.digit= seconds
          span.digit= seconds
        span.time-name Seconds

mixin link(rel, href)
  link(rel=rel, href=href, type!=attributes.type, sizes!=attributes.sizes, color!=attributes.color)/

mixin script(src)
  script(type="text/javascript", src=src)
