-
  var $vars = {}; //funky name to hold all global variables in templates.

  $vars.title = 'Shrimadhav U K';

  $vars.author = 'Shrimadhav U K';
  $vars.keywords = 'relevant, keywords, appear, here';
  $vars.description = '@SpEcHiDe is what @SpEcHiDe does!';
  $vars.imgurl = 'https://spechide.shrimadhavuk.me/img/aboutme/photo.png';

  $vars.facebookmeta = {
    'og:title' : $vars.title,
    'og:type' : 'article',
    'og:image' : $vars.imgurl,
    'og:url' : 'http://www.shrimadhavuk.me',
    'og:audio' : 'https://spechide.shrimadhavuk.me/img/voices/SpEcHiDe_ThemeSong.ogg',
    'og:description' : $vars.description,
    'og:determiner' : '',
    'og:locale' : 'en_IN',
    
    'og:site_name' : 'Personal portfolio of Shrimadhav U K',
    
    'article:author' : 'https://www.facebook.com/1631255353',
    'article:publisher' : 'https://www.facebook.com/1631255353',
    'fb:app_id' : '241804676227385',
    'fb:admins' : '1631255353',
    'og:image:width' : '182',
    'og:image:height' : '273'
  };

  $vars.twittermeta = {
    'twitter:card' : 'summary',
    'twitter:site' : '@SpEcHiDe',
    'twitter:creator' : '@SpEcHiDe',
    'twitter:title' : $vars.title,
    'twitter:description' : $vars.description,
    'twitter:image' : $vars.imgurl,
    'twitter:image:alt' : $vars.title
  };
