// modal for displaying help contents
#helpMeModal.modal.fade(role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal') &times;
        h4.modal-title &nbsp;
        // intentionally left blank
      .modal-body
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
