//- Compiled CSS
//- +link('stylesheet', 'css/vendor.css')(type='text/css')

// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
// WARNING: Respond.js doesn't work if you view the page via file://
<!--[if lt IE 9]>
  +script('js/html5shiv.js')
  +script('js/respond.js')
<![endif]-->

//- the files in the css directory are added here on grunt serve
+link('stylesheet', 'css/index.css')(type='text/css')
