// the Original SEO
+meta('author',$vars.author)
+meta('keywords',$vars.keywords)
+meta('description',$vars.description)
// if each site makes their own METAs, then ...?

+link('canonical','http://www.shrimadhavuk.me/')

// OpenGraph
each val, index in $vars.facebookmeta
  +metap(index,val)

// Twitter Cards
each val, index in $vars.twittermeta
  +meta(index,val)

// Google Plus Author Info
+link('author','https://plus.google.com/104708839037568086407')

// Google Structured data markup
script(type='application/ld+json').
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Palakkad",
      "addressRegion": "KL",
    },
    "email": "mailto:shrimadhavuk@gmail.com",
    "image": "https://spechide.shrimadhavuk.me/img/aboutme/photo.png",
    "jobTitle": "SpEcHiDe",
    "name": "Shrimadhav U K",
    "url": "https://www.shrimadhavuk.me",
    "sameAs": [
      "https://joindiaspora.com/u/spechide",
      "https://www.facebook.com/shrimadhav",
      "https://www.linkedin.com/in/shrimadhav/",
      "https://twitter.com/SpEcHiDe",
      "https://www.youtube.com/channel/UC_00hnq7EVg0-b_OFjokyxw",
      "https://github.com/SpEcHiDe",
      "https://gitlab.com/SpEcHiDe"
    ]
  }

script(type="application/ld+json").
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "Shrimadhav U K",
    "url": "http://www.shrimadhavuk.me"
  }
