// http://realfavicongenerator.net/
+link('apple-touch-icon','//spechide.shrimadhavuk.me/img/favicons/apple-touch-icon.png')(type='image/png',sizes='180x180')
+link('icon','//spechide.shrimadhavuk.me/img/favicons/favicon-32x32.png')(type='image/png',sizes='32x32')
+link('icon','//spechide.shrimadhavuk.me/img/favicons/favicon-16x16.png')(type='image/png', sizes='16x16')
+link('manifest','//spechide.shrimadhavuk.me/img/favicons/manifest.json')
+link('mask-icon','//spechide.shrimadhavuk.me/img/favicons/safari-pinned-tab.svg')(color='#5bbad5')
+link('shortcut icon','//spechide.shrimadhavuk.me/img/favicons/favicon.ico')
+meta('apple-mobile-web-app-title','Shrimadhav U K')
+meta('application-name','Shrimadhav U K')
+meta('msapplication-config','//spechide.shrimadhavuk.me/img/favicons/browserconfig.xml')
+meta('theme-color','#ffffff')
// http://realfavicongenerator.net/
