#fb-root
//- The (Un)Neccassary FaceBook /
.follow
  .fb-follow(data-href='https://www.facebook.com/shrimadhav', data-colorscheme='dark', data-layout='button_count', data-show-faces='true')
  .fb-like(data-href='https://www.facebook.com/shrimadhav', data-width="80", data-height="20", data-layout='button_count', data-action='like', data-size='large', data-show-faces='true', data-share='false')
  a.twitter-follow.twitter-follow-button(href='https://twitter.com/SpEcHiDe', data-size="large", data-show-screen-name='true', data-show-count='false', data-lang='en')
