ul.list-inline
  li
    a.icon(title='Facebook', href='https://spechide.shrimadhavuk.me/contact/SpEcHiDe.me/FaceBook', target='_blank')
      i.fa.fa-facebook.fa-3x
  li
    a.icon(title='Twitter', href='https://spechide.shrimadhavuk.me/contact/SpEcHiDe.me/Twitter', target='_blank')
      i.fa.fa-twitter.fa-3x
  li
    a.icon(title='LinkedIn', href='https://spechide.shrimadhavuk.me/contact/SpEcHiDe.me/LinkedIn', target='_blank')
      i.fa.fa-linkedin.fa-3x
  li
    a.icon(title='YouTube', href='https://spechide.shrimadhavuk.me/contact/SpEcHiDe.me/YouTube', target='_blank')
      i.fa.fa-youtube-play.fa-3x
  li
    a.icon(title='Gitlub', href='https://spechide.shrimadhavuk.me/contact/SpEcHiDe.me/GitLab', target='_blank')
      i.fa.fa-gitlab.fa-3x
  li
    a.icon(title='Quora', href='https://spechide.shrimadhavuk.me/contact/SpEcHiDe.me/Quora', target='_blank')
      i.fa.fa-quora.fa-3x
  li
    a.icon(title='Email', href='https://spechide.shrimadhavuk.me/contact/SpEcHiDe.me/ElectronicMail', target='_blank', data-toggle='tooltip')
      i.fa.fa-envelope.fa-3x
