//- Mixins and Varibles
include ./settings/mixins
include ./settings/variables

doctype
html(lang='ml')
  head
    include ./templates/head_inwrapper
    block MetaHead
    include ./templates/meta_seo
    title= $vars.title
    include ./templates/css
    include ./templates/meta_favicons
  body
    //-(oncontextmenu="return false;")
    block content
    //- include ./templates/BSModal
    block scripts
